
@using System.Text
@using InBed.Service.Dto
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}
@section StylesBefore{
    <link href="~/assets/css/elder.css" rel="stylesheet" type="text/css" />
}
@section Scripts{
    @*<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TuNY8zbjIexxzrhwfXmwDCBAmDuCUdxX"></script>
    <script src="~/assets/js/index-map.js" type="text/javascript"></script>*@
    <script src="~/assets/js/elder.js" type="text/javascript"></script>
    <script src="~/assets/js/chart-sparkline.js" type="text/javascript"></script>
}

<section class="wrapper" style='margin-top:0px;display:inline-block;width:100%;padding:15px 0 0 15px;'>

    <div class="content-body">
        <div class="elder-container">

        </div>

        <div class="loaddiv">  
            <img src="~/assets/images/loading.gif" />  
        </div> 
    </div>

</section>




